html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f5f5f5;
  /* font-family: "Amatic SC", cursive; */
  /* font-family: "Boogaloo", cursive; */
  /* font-family: "Architects Daughter", cursive; */
  /* font-family: "Shadows Into Light Two", cursive; */
  font-family: "Schoolbell", cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: royalblue;
}

.container {
  flex: 1 0 auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#giphy-logo {
  border-left: solid 1px #f1f1f1;
  border-right: solid 1px #f1f1f1;
  height: 40px;
  width: 111px;
  background-image: url("../images/Poweredby_100px-Black_VertText.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
}
.tab {
  height: 100%;
  border-radius: 10px 10px 0 0;
  padding: 0 10px;
  background-color: #1f1f1f;
  color: #f1f1f1;
  border-top: solid 1px #1f1f1f;
  border-left: solid 1px #1f1f1f;
  border-right: solid 1px #1f1f1f;
  box-sizing: border-box;
  margin: 0 5px;
}
.tab:hover {
  border-color: royalblue;
  cursor: default;
}
.active-tab {
  background-color: #f1f1f1;
  color: #1f1f1f;
}

header {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.6em;
  border-radius: 0 0 15px 15px;
  background-color: #1f1f1f;
  color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  box-sizing: border-box;
}
#display {
  flex: 1 0 auto;
  width: 100%;
}
#none {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#results,
#favorites {
  background-color: #f3f3f3;
  color: #1f1f1f;
  column-width: 300px;
  padding: 5px;
  column-rule: 2px dotted #1f1f1f;
  box-sizing: border-box;
  min-width: 100%;
}

.toolbar {
  width: 100%;
  height: 50px;
  border-radius: 15px 15px 0 0;
  color: #f3f3f3;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#ratings-div {
  position: relative;
}

#dropdown {
  position: absolute;
  background-color: #1f1f1f;
  width: 300px;
  column-count: 2;
  height: 0px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
form.dropdown-form {
  display: block;
}
input.dropdown-input {
  width: 15px;
  height: 15px;
}
#tray {
  width: 100%;
  height: 150px;
  background-color: #f3f3f3;
  color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; /*probably have to change this*/
}

#add-button-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 375px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  color: #1f1f1f;
  border-radius: 15px;
  border: groove 3px #1f1f1f;
  z-index: 100;
}

#add-button-menu.visible {
  display: none;
}

#remove-button-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  color: #1f1f1f;
  border-radius: 15px;
  border: groove 3px #1f1f1f;
  z-index: 100;
}

#remove-button-menu.visible {
  display: none;
}

form.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  flex: 0 0 auto;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  background-color: #1f1f1f;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  line-height: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
  text-align: center;
}

button,
#process-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  color: #f1f1f1;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 0.5rem;
  margin: 10px;
  text-align: center;
}

select {
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #1f1f1f;
  font-family: inherit;
  font-size: 14px;
}

button:hover,
#process-add-button:hover {
  box-shadow: 0 1px 1px 1px #010101;
}

#process-add-button,
#cancel-add-button {
  width: 50px;
  height: 50px;
}

.gif {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin: 5px;
  border: solid 1px #1f1f1f;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

.gif-tools {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  color: #1f1f1f;
  border-radius: 5px 5px 10 10px;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

#embed {
  font-weight: 900;
  font-size: 9px;
  color: #f1f1f1;
  background-color: #1f1f1f;
  border-radius: 50%;
  padding: 2px 1px;
}

#embed:hover {
  cursor: default;
}

.info-display {
  width: 100%;
  font-size: 11px;
  padding: 5px;
}

p {
  margin: 6px 0;
  padding: 0 5px;
  word-wrap: break-word;
}

.embed-display {
  width: 90%;
  font-size: 11px;
  padding: 5px;
  word-wrap: break-word;
}

.tray-button {
  background-color: #f1f1f1;
  color: #1f1f1f;
  font-size: 20px;
}

.selected {
  background-color: royalblue;
}

#button-tray {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 2px solid #1f1f1f;
  border-bottom: 2px solid #1f1f1f;
}
